<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="Home/Sobre">Sobre</a>
        <a href="Home/Cadastrar">Cadastrar</a>
        <a href="Home/Pessoa">Pessoa</a>
    </header>
    <hr />
    @RenderBody()
    <hr />
    <footer>
        rodapé - 2021
    </footer>
</body>
</html>