@model Net6MVCBasico.Models.Pessoa
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@using (Html.BeginForm("Cadastrar", "Home", FormMethod.Post))
{
    <div>
        Nome:
        @Html.TextBoxFor(m => m.Nome)
    </div>
    <input type="submit" value="Cadastrar" />

}