@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<img src="https://d1fdloi71mui9q.cloudfront.net/8Mote1aIRye9XtcaTDxl_788t5xW2Y9eA9XM2" 
alt="Fabrício Tonetto Londero (fabriciolondero) Profile Image | Linktree" 
<h1>Fabrício Tonetto Londero</h1>